.analytics-title {
    color: rgb(255, 0, 208);
    font-weight: bold;
    text-align: center;
  }
  
  .glass-card {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 20px;
    padding: 15px;
    color: #ffffff;
  }
  
  .card-header {
    background: rgba(255, 105, 180, 0.2);
    padding: 10px;
    border-radius: 15px 15px 0 0;
    font-weight: bold;
  }
  
  .progress-container {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    padding: 10px;
  }
  
  .category-header {
    color: rgba(255, 0, 208);
    font-weight: bold;
    margin-bottom: 15px;
  }
  